<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vpvu2.androidpizza">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".SignIn" />
        <activity android:name=".SignUp" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".PizzaList" />
        <activity android:name=".DrinkList" />
        <activity android:name=".SaladList" />
        <activity android:name=".PizzaDetail" />
        <activity android:name=".DrinkDetail" />
        <activity android:name=".SaladDetail" />
        <activity android:name=".Cart" />
        <activity android:name=".OrderStatusInfo" />
        <activity android:name=".Listenner" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>